/* @font-face {
  font-family: 'Poppins-Light';
  src: url('./Poppins-Light.ttf');
} */
@font-face {
  font-family: 'PermanentMarker-Regular';
  src: url('./PermanentMarker-Regular.ttf');
}

body {
  background-image: linear-gradient(
    to right bottom,
    #8f4d2f,
    #773516
  );
  font-family: Arial, Monospace, sans-serif;
  /* font-family: 'Poppins-Light'; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

#app {
  width: 100%;
  height: 100%;
}

.text-shadow {
  text-shadow: 0 2px 2px #000;
}

.btn-close:focus {
  box-shadow: none;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* fade transition style */
.v-enter-active,
.v-leave-active {
  transition: opacity .7s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

/* scale transition styles */
.scale.scale-enter-active,
.scale.scale-leave-active {
  transition: all 0.5s ease;
}

.scale.scale-enter-from,
.scale.scale-leave-to {
  opacity: 0;
  transform: scale(0.9);
}