/* @font-face {
  font-family: 'Poppins-Light';
  src: url('./Poppins-Light.ttf');
} */
@font-face {
  font-family: 'PermanentMarker-Regular';
  src: url('./PermanentMarker-Regular.ttf');
}

body {
  background-image: linear-gradient(
    to right bottom,
    #8f4d2f,
    #773516
  );
  font-family: Arial, Monospace, sans-serif;
  /* font-family: 'Poppins-Light'; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

#app {
  width: 100%;
  height: 100%;
}

.text-shadow {
  text-shadow: 0 2px 2px #000;
}